{% extends "layout.html" %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Projects</li>
  </ol>
</nav>
<h3>Select a Project</h3>
<div class="row">
  {% for project in projects %}
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{{ project.name }}</h5>
        <p class="card-text">{{ project.description }}</p>
        <a href="/projects/{{ project.name }}/apps" class="btn btn-sm btn-primary">View Apps</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
